/* @import url(http://fonts.googleapis.com/css?family=Roboto);

* { font-family: 'Roboto', 'Arial', sans-serif; } */

body {
	background:#f6f6f6;
}

.container {
	width:1000px;
	margin:0 auto;
	position:relative;
}

.top_site {
	background:#fff;
	border-bottom:1px solid #efefef;
	height:60px;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 99;
}

.top_site.fancybox-margin { 
	width: -moz-calc(100% - 17px);
	width: -webkit-calc(100% - 17px);
	width: -o-calc(100% - 17px);
	width: calc(100% - 17px);
}

.border { border:1px solid #efefef; background:#fff; }
.border_right { border-right:1px solid #efefef; }
.border_left { border-left:1px solid #efefef; }
.border_top { border-top:1px solid #efefef; }
.border_bottom { border-bottom:1px solid #efefef; }
.noBg { background:transparent; }

.graytext { color:#B0B0B0; }
a, .greentext { color:#25ad9f; }

.page_title { background:#25ad9f; color:#fff; font-size:16px; font-family:Tahoma; font-weight:bold; padding:0px 10px; float:left; }

.sprite1 { background: url(../../images/sprite1.png) no-repeat top left; display:block; }
.sprite-buyit2{ background-position: 0 0; width: 21px; height: 21px; } 
.sprite-camera{ background-position: 0 -23px; width: 23px; height: 18px; } 
.sprite-chat{ background-position: 0 -43px; width: 28px; height: 22px; } 
.sprite-cogs{ background-position: 0 -67px; width: 27px; height: 27px; } 
.sprite-cogs_small{ background-position: 0 -96px; width: 13px; height: 13px; } 
.sprite-comments{ background-position: 0 -110px; width: 18px; height: 17px; } 
.sprite-logo{ background-position: 0 -127px; width: 137px; height: 53px; } 
.sprite-logo_small{ background-position: 0 -182px; width: 34px; height: 38px; } 
.sprite-privacy_small{ background-position: 0 -222px; width: 13px; height: 11px; } 
.sprite-profile{ background-position: 0 -235px; width: 22px; height: 24px; } 
.sprite-recent{ background-position: 0 -261px; width: 27px; height: 23px; } 
.sprite-search{ background-position: 0 -286px; width: 28px; height: 29px; } 
.sprite-support_small{ background-position: 0 -317px; width: 13px; height: 10px; } 

.buyit2-sprite { -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; background: url(../../images/buyit2_sprite.png) no-repeat top left; display:block; width: 21px; height: 21px; }
.buyit2-sprite.active { background-position: 0px -22px;  } 

.comment_holder_all { -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.top_site .sprite-logo { position:absolute; top:15px; left:0px; }

.top_site .menu_item { height:60px; width:60px; position:relative; cursor:pointer; }
.top_site .menu_item:hover, .top_site .menu_item.active { background:#f6f6f6; }
.top_site .menu_item  i { position:absolute; top:31%; right:26%; }
.top_site .menu_item .open_menu_link i { position:static; }

i.notif_count { background:#da0000; color:#fff; border-radius:50%; position:absolute; z-index:10; width:18px; height:18px; font-family:Arial; text-align:center; font-style:normal; }
.top_site i.notif_count { top: 10px; left: 10px; line-height: 19px; }

.posts_container { width:545px; margin-right:285px; }
.posts_container.user_profile, .posts_container.post_page { width:715px; margin-right:10px; }
.posts_side_bar { width:275px; position: absolute; right: 0px; top: 0px; }
.side_bar_holder { width:275px; }
#item_url { padding:5px; width:90%; border:0px; outline:none; line-height:20px; }

.white_box { background:#fff; border:1px solid #efefef; }
.login_box { width:440px; margin:0 auto; }	

.input_style { 
	border:1px solid #efefef; 
	padding:3px; 
	font-size:12px; 
	color:#606060;  
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out; 
}

.input_style:focus, .input_style:active { border:1px solid #25ad9f; color:#25ad9f; outline: none; }
#login_email { width:180px; }
#login_password { width:115px; }

.login_holder, .register_holder { padding-left:15px; }

.simple_btn { outline:none; color:#25ad9f; background:none; border:none; cursor:pointer; text-decoration:underline; padding:0px; margin:0px; }
.simple_btn:hover { color:#000; }
.simple_btn:active { color:#DA0000; }

input[type="checkbox"] { vertical-align: middle; }

#register_age { width:60px; }

.error { color:#DA0000; font-size:12px; }

.form_error {   background: #FFEBE8; padding: 10px; border: 1px solid #FF0000; margin-bottom: 10px;}

#loader { display:none; margin-left:3px; vertical-align: middle; }

.top_open_menu { min-width:233px; position:absolute; top:60px; right:-1px; border:1px solid #efefef; display:none; background:#fff; z-index:100; cursor: auto; }
.open_menu_link { line-height:30px; padding-left:10px; }
.open_menu_link:hover, .open_menu_link.active { background:#e1f9f6; }
.open_menu_link a { display:block; width:100%; text-decoration:none; }

.top_open_menu .sep { width:100%; height:1px; background:#efefef; }

.dark_grey_text { color:#606060; }

.arrow_down { width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgba(0,0,0,0.8); }
.tooltip { background:rgba(0,0,0,0.8); padding:5px; border-radius:3px; color:#fff; } 

.w100 { width:100%; box-sizing: border-box; }

.item_box { min-height:190px; border-bottom:2px solid #25ad9f; border-radius:0px 0px 3px 3px; }
.item_box .left_in_box { width:69%; margin-right:1%; }
.item_box .left_in_box .desc { min-height: 54px; }
.item_box .right_in_box { width:30%; }
.item_box .img { height:165px; text-align:center; }
.item_box .img .gallery_box { height:165px; text-align:center; }
.item_box .img img { max-width:100%; max-height:165px; }

.profilePic img { border-radius: 50% 50%; width:43px; height:43px; }
.bigProfilePic img { border-radius: 50% 50%; width:130px; height:130px; }

a.reg { text-decoration:none; }
a.reg:hover { text-decoration:underline; }

.align-left { text-align:left; direction:ltr; }
.align-right { text-align:right; direction:rtl; }

.actions * { font-size:12px; }
.actions .action { padding-top:5px; padding-bottom:5px; }
.action a:hover { color:#206F67; }

.highlight { background:#25AEA0; border-radius:5px; }
.highlight { color:#FFFFFF; }

.disabled { background:#EBEBE4; }

textarea { color:#000; font-size:14px; font-family:Tahoma; resize:none; }

.add_item_holder .logo_letter, .open_item_holder .logo_letter { position:absolute; bottom:0px; right:0px; }
.add_item_holder, .open_item_holder { width:800px; position:relative; }
.add_item_holder .image { width:100%; box-sizing:border-box; height:300px; text-align:center; }
.add_item_holder .image img { max-width:100%; max-height:260px; }

.add_item_side .holder { padding:5px 10px; }

.letter_logo { width:49px; height:61px; background:url(../../images/logo_letter.png) center top no-repeat;  position: absolute; bottom: -30px; right: -9px; z-index: 9999; }

.item_show_holder { width:800px; height:550px; color:#000; }
.item_show_holder .item_title { height:45px; }
.item_show_holder .item_img { width: 100%; box-sizing: border-box; text-align:center; padding:10px; background:#fff; border:1px solid #efefef; }
.item_show_holder .item_img img { max-width: 100%; max-height:350px; }

.left_side_item_show { width:59%; margin-right:1%; }
.right_side_item_show { width:40%; }
.comments_holder { min-height: 355px; }
.scroller { height:496px; overflow-y: scroll; overflow-x:hidden; } 

.item_popup_add_comment .input_holder { width:245px; }
.item_popup_add_comment .input_holder.post_page { width: 625px; }
.item_popup_add_comment .input_holder i {  bottom:9px; right:10px;}

.comment_text_holder { width:225px; }
.main_posts_comments .comment_text_holder { width:430px; }
.users_posts_comments .comment_text_holder { width:580px; }

.comment_actions, .post_actions { right:10px; top:0px; cursor:pointer; }
.comment_actions_holder, .post_actions_holder { z-index:10; cursor:default; display:none; right: 0px; width: 130px; text-align: center; }

.white_text { color:#fff; }

.mt_minus_16 { margin-top:-16px; }

.logo { margin-top: 2px; width: 220px; }

.left_bar { width:160px; }

.right_bar_post .img img { max-width:100%; max-height:70px; } 
.right_bar_post .img { width:70px; text-align:center; }
.right_bar_post .text_side { width:145px; margin-right:5px; }
.right_bar_post .buy_side { width:30px; }
.right_bar_post:hover{ background:#e1f9f6; }

.post_page .item_img  { text-align:center; }
.post_page .item_img img { max-width:100%; max-height:400px; }

.remove_from_wishlist { position:absolute; right:5px; top:5px; cursor:pointer; }

.left_side_menu { width:245px; }

.menu_cat .menu_title { padding:10px; }

.menu_items .menu_item { display:block; text-decoration:none; padding:5px 0px 5px 30px; color:#000; margin-top:3px; }
.menu_items .menu_item:hover, .menu_items .menu_item.active{ background:#e1f9f6; }

.right_side.with_menu_content { width: 740px; box-sizing: border-box; margin-top: 19px; background:#fff;}
.right_side.with_menu_content .border { padding:10px 20px 10px 20px; }

.no_border_bottm { border-bottom:none; }

#search { display:none; }
#search input {
	padding: 10px;
	margin-top: 10px;
	border: none;
	outline: none;
	border-bottom: 1px solid #000;
	width:350px;
	margin-right:10px;
}

a.noStyle { text-decoration:none; color:#000; }

.left_side_box { margin-bottom:10px; background: #FAFAFA; padding: 10px; box-shadow: -1px 1px 1px 0px rgba(187, 187, 187, 0.1);}

.left_side_box .title { color:#25AEA0; }
.left_side_box .item { text-indent:10px; margin-top:5px; }
.left_side_box .item.active a { font-weight:bold; }

.tabs_content { display:none; }