@charset "utf-8";

html, body						{ font-family: arial; }

.dropzone						{ background-color: #eeeeee; text-align: center; position: relative; border: 1px solid #dddddd; display: inline-block; }
.dropzone.round						{ background-color: #eeeeee; text-align: center; position: relative; border: 1px solid #dddddd; display: inline-block;  }
.dropzone:after					{ content: 'Drop your image here or click to add one!'; font-size: 30px; color: #bbbbbb; position: absolute; bottom: 60%; left: 0; width: 100%; text-align: center; z-index:0;}
.dropzone.no_text:after					{ content: ''; font-size: 30px; color: #bbbbbb; position: absolute; bottom: 60%; left: 0; width: 100%; text-align: center; z-index:0;}
.dropzone:before				{ content: ''; font-family:"Glyphicons Halflings"; font-size: 60px; color: #dbdbdb; position: absolute; top: 40%; left: 0; width: 100%; text-align: center; z-index:0;}

.dropzone.loading:after			{ content: 'Please wait, image is loading'; }
.dropzone.loading:before		{ content: ''; }

.dropzone.done:after			{ content: '';}
.dropzone.done:before			{ content: '';}

/* not an image */
.dropzone.notAnImage			{ background-color: #f2dede; border-color: #ebccd1; }
.dropzone.notAnImage:after		{ content: 'The selected file is not an image!'; color: #a94442; }
.dropzone.notAnImage:before		{ content: ''; color: #ebccd1; }

.dropzone.alert-danger			{ background-color: #f2dede; }
.dropzone.alert-danger:after	{ content: ''; }

.dropzone.smalltext:before,
.dropzone.smalltext:after		{ font-size: 20px; }

.dropzone > span				{ font-size: 30px; color: #bbbbbb; position: absolute; top: 35%; left: 0; width: 100%; text-align: center; z-index:0;}
.dropzone > span.loader			{ display: none; }
.dropzone > input[type=file]	{ position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; opacity: 0; cursor: pointer; z-index:2; height: 100% /* IE HACK*/ }
.dropzone > input[type=text]	{ display: none; }

.dropzone .progress				{ bottom: 10px; left: 10px; right: 10px; display: none;  }

.dropzone .cropWrapper			{ overflow: hidden; position: absolute; top:0; bottom: 0; left: 0; right: 0; z-index: 10; background-color: #eeeeee;  text-align: left;}
/*.dropzone canvas.final			{ background-color: #eeeeee;}*/

.dropzone img					{ z-index: 5; position: relative; }
.dropzone img.ghost				{ opacity: .2; z-index: auto; float:left /* HACK for not scrolling*/; }
.dropzone img.main				{ cursor: move; }
.dropzone .final img.main 		{ cursor: auto; }
.dropzone img.preview			{ width: 100%; }

.dropzone .tools				{ position: absolute; top: 10px; right: 10px; z-index: 999; display: inline-block; }
.dropzone .tools > *			{ margin: 0 0 0 5px; }

.dropzone.smalltools .tools .btn	{ padding: 1px 4px; font-size: 12px; }

.dropzone .download				{ position: absolute; bottom: 10px; left: 10px; z-index: 999; display: inline-block; }
.dropzone .download > *			{ margin: 0 0 0 5px; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/fonts/glyphicons-halflings-regular.eot);
    src: url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/fonts/glyphicons-halflings-regular.woff) format('woff'), url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-pencil:before {
  content: "\270f";
}

.glyphicon-ok:before {
  content: "\e013";
}

.glyphicon-resize-full:before {
  content: "\e096";
}

.glyphicon-resize-small:before {
  content: "\e097";
}

.glyphicon-fullscreen:before {
  content: "\e140";
}

.glyphicon-remove:before {
  content: "\e014";
}

.glyphicon-trash:before {
  content: "\e020";
}
